textarea::placeholder {
	color: #72767d; /* hsla(0,0%,100%,.7) !important; */
}

body > div#app > div > *, body div#app-mount *, .visual-refresh.theme-dark, .visual-refresh .theme-dark {
	/* make usernames slightly less intense white */
	--header-primary: #ececec !important;
	/* remove mouseover highlight color on messages */
	--background-message-hover: transparent !important;
	/* make muted text actually muted... */
	/* --text-muted: #72767d !important; */
	/* font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif !important; */
	/* revert background color changes */
	--background-primary: #36393f;
	--channeltextarea-background: #40444b;
	--background-secondary: #2f3136;
	--background-secondary-alt: #292b2f;
	--text-link: #00aafc;
}

bd-body {
	display: none;
}

/* bottom left name is distracting */
.title_d1da5f {
	font-weight: 500;
}

/* icons in the send message textbox */
div[class*="buttons__"] div[role="button"][aria-label="Send a gift"],
div[class*="buttons__"] div[role="button"][aria-label="Open GIF picker"] {
	display: none;
}

.app-launcher-entrypoint {
	display: none;
}

/* they made the buttons in the send message textbox bright for some reason... */
div[class*="channelBottomBarArea"] div[class*="button__"] {
	opacity: .6;
}

div[class*="channelBottomBarArea"] div[class*="button__"]:hover {
	opacity: 1.0;
}

/* hide the Nitro link in the friends list */
a[href="/store"] {
	display: none;
}
a[href="/shop"] {
	display: none;
}
a[href="/quest-home"] {
	display: none;
}

/* hide snowsgiving */
a[href="//discord.com/snowsgiving"] {
	display: none;
}

/* hide server discovery */
div[aria-label="Discover"] {
	opacity: 0;
}

/* server add icon color */
div[data-list-item-id="guildsnav___create-join-button"] {
	background: transparent;
	color: #535559;
	border: 1px dashed #535559;
	border-radius: 50%;
	transition: border-color .25s ease,color .25s ease;
}

div[aria-label="Buy Boosts to help unlock the Communities plan!"] {
	display: none;
}

div[aria-label*="Buy Boosts to help unlock the Groups plan!"] {
	display: none;
}


/** restore line separators between messages */
ol[data-list-id="chat-messages"] div[class*="groupStart__"] {
	border-top: 1px solid rgba(255,255,255,0.06);
}

ol[data-list-id="chat-messages"] div[class*="groupStart__"]:not([class*="flash__"]):before {
	display: block;
	content: "";
	
	padding: 0 !important;
	margin: 0 !important;
	/* padding above the line separator */
	margin-top: 14px !important;
	/* padding under the line separator */
	margin-bottom: 18px !important;
	/* for unread indicators, etc */
	position: relative;
	background: none;
	width: auto;
}

/* discord CSS antipattern `messageListItem` containers prevent selecting
and removing double borders without JS or CSS4's :has */
/** .divider-2rZFJK + li:has(> div[class*="groupStart__"]) {
	border-top: none;
} */

/* when NEW MESSAGES or searching prevent two lines from being back to back */
div[class*="divider_"] + li[class*="messageListItem_"] > div[class*="groupStart__"]:first-child {
	border-top: none !important;
	padding-top: 5px;
}
/** end line separators */

/** mentions apply only to the message content, not its container */
div[class*="mentioned__"] {
	background: none !important;
}

/*
div[class*="mentioned__"] > *:first-child {
	background-color: var(--background-mentioned);
}
*/
/** end mentions */

/* restore the old unread message in-line indicator */
div[class*="isUnread__"] {
	margin: 20px 15px !important;
}

div[class*="isUnread__"] svg {
	display: none;
}

div[class*="isUnread__"]:after {
	color: #f04747;
	font-weight: 600;
	text-transform: uppercase;
	content: "New Messages";
	background: var(--background-primary);
	padding: 0 8px;
	line-height: 22px;
	font-size: 0.93em;
}

div[class*="isUnread__"] > span {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	background-color: transparent;
	color: transparent;
}

div[class*="isUnread__"] > .unreadPill_c2654d:after {
	border-bottom: 1px solid rgba(240,71,71,.7);
}
/** end unread */

/* change mention colors back to how they were */
.mention {
	color: #7289da;
	background: rgba(114,137,218,.1);
}

.theme-dark .interactive:hover {
	color: #fff;
	background-color: #7289da;
}
/** end mentions */


/* floating message popup */
div[aria-label="Message Actions"] div[aria-label*="Click to react"] {
	display: none;
}

div[aria-label="Message Actions"] div[aria-label*="Click to remove"] {
	display: none;
}

div[aria-label="Message Actions"] div[class*="separator_"] {
	display: none;
}

div[aria-label="Message Actions"] > div, div[aria-label="Message Actions"] > div:hover {
	margin-top: 25px;
	border: none !important;
	background: transparent !important;
	box-shadow: none !important;
}

/** subdue message popup colors */
div[aria-label="Message Actions"] div[role="button"] {
	color: #5a5d63;
	background: none !important;
}

/** add hover color to message action buttons */
div[aria-label="Message Actions"] div[role="button"]:hover,
div[aria-label="Message Actions"] div[role="button"][aria-expanded="true"] {
	color: #eeeeee !important;
}

/** remove create thread and reply buttons */
div[aria-label="Message Actions"] div[aria-label="Create Thread"] {
	display: none;
}

div[aria-label="Message Actions"] div[aria-label="Forward"] {
	display: none;
}

/** rotate "more" button */
div[aria-label="Message Actions"] div[aria-label="More"] {
	transform: rotate(90deg);
}

/* hide stupid gradient in the left server bar */
div[class*="footer_"] div[class*="gradient_"] {
	display: none;
}














/* change the chat background and chat header back */
main[class*="chatContent_"], section[class*="themed_"] {
	background: #36393f !important;
}

/* change the searchbar background back */
div[class*="searchBar__"] {
	background: #1e1f22 !important;
}

/* remove left drop shadow on the chat title area of the channel header */
section[aria-label="Channel header"] div[class*="children__"]:after {
	display: none;
}

/* revert the color of the primary chat input at the bottom */
div[class*="channelTextArea__"], div[class*="channelTextArea__"] div[class*="themedBackground__"] {
	background: #40444b;
}

div[class*="channelTextArea__"] {
	--custom-chat-input-margin-bottom: 20px;
}

/* revert primary chat input height changes */
div[class*="channelTextArea__"] div[class*="scrollableContainer__"] {
	--custom-channel-textarea-text-area-height: 44px;
}

div[class*="channelTextArea__"] div[class*="scrollableContainer__"] div[class*="attachWrapper__"] {
	padding: var(--space-6) calc(var(--space-md) - 6px);
	
}

/* increase the padding between the last message in the message list and the chat input */
ol[data-list-id="chat-messages"] {
	padding-bottom: 10px;
}

/* fix sidebar color */
nav[aria-label="Private channels"] div[class*="scroller__"] {
	background: #2f3136 !important;
}

/* fix bottom left bg color and rounded corners */
section[aria-label="User area"] {
	border-radius: 0 !important;
	background: #292b2f !important;
}

/* fix left side guild list background color */
ul[data-list-id="guildsnav"] {
	background: #1e1f22;
}

/* hide app launcher button in the bottom right of the primary chat input */
div[class*="channelAppLauncher__"] {
	display: none;
}

/* revert the bottom padding at the end of the chat list being too small */
ol[data-list-id="chat-messages"] div[class*="scrollerSpacer__"] {
	height: 30px;
}

/* fix right click menu bg and text color */
div[class*="menu__"] {
	background: #111214;
}

div[class*="labelContainer__"]:not([class*="colorDanger__"]) div[class*="label__"] {
	color: #b0b4bb !important;
}

div[class*="labelContainer__"][class*="focused__"]:not([class*="colorDanger__"]) div[class*="label__"] {
    color: #fff !important;
}

div[class*="focused__"][class*="colorDanger__"] {
    background: #592525 !important;
}
/** end right click menu */

/* fix emoji highlight */
div[class$="-reaction"] {
	background: #2f3136 !important;
}

div[class$="-reactionMe"] {
	background: hsla(var(--brand-500-hsl)/0.15) !important;
}

/* fix inline add emoji button next to emojis on messages */
div[class*="forceShow__"] {
	background: #2f3136 !important;
}

/* fix embed color */
article[class*="embedFull__"] {
	background: #2f3136 !important;
}

/* fix reply color */
div[class*="replyBar__"] {
	background: #2f3136 !important;
}

/* remove top border from reply popover */
div[class*="stackedBars__"] {
	background: transparent !important;
}

/* fix reply text color */
div[class*="replyLabel__"] {
    color: #b5bab8 !important;
}

/* message separators with text (dates, new message) shouldn't have a background color */
.visual-refresh span[class*="content__"] {
	background: transparent;
}

/* server sidebar color */
.visual-refresh nav[class*="container__"] {
	background: #2f3136 !important;
}

/* fix spoiler color */
span[class*="spoilerMarkdownContent__"] {
	background-color: #1e1f22;
}

/* fix find/start conversation button */
nav[aria-label="Private channels"] div[class*="searchBar__"] {
	background: #2f3136 !important;
}

nav[aria-label="Private channels"] div[class*="searchBar__"] button {
	background: #1e1f22 !important;
	color: #72767d;
	border-radius: 4px;
	padding: 0 0 0 1ch;
	display: block;
	text-align: left;
}

/* fix server folder colors */
div[class*="folderPreviewWrapper__"] {
	--background-mod-subtle: #3f4581;
}

span[class*="folderGroupBackground__"] {
	background: #2f3136 !important;
}

/* reply color in chat */
div[class*="repliedTextPreview__"] {
	color: #b1bac1 !important;
}

div[class*="repliedTextPreview__"]:hover {
	color: #c4c5c5 !important;
}

/* remove spoiler border */
div[class*="spoilerContainer__"][class*="hidden__"] article {
	border: none;
}

/* fix autocomplete color */
div[class*="autocomplete__"] {
	background: #32353b;
}

/* absolutely not, no. gets rid of custom username fonts and colors */
span[data-username-with-effects] {
	font-family: 'gg sans' !important;
	letter-spacing: normal !important;
	-webkit-text-fill-color: currentColor !important;
}
