textarea::placeholder {
	color: #72767d; /* hsla(0,0%,100%,.7) !important; */
}

* {
	/* make usernames slightly less intense white */
	--header-primary: #ececec !important;
	/* remove mouseover highlight color on messages */
	--background-message-hover: transparent !important;
	/* make muted text actually muted... */
	--text-muted: #72767d !important;
	// font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	/* revert background color changes */
	--background-primary: #36393f;
	--channeltextarea-background: #40444b;
	--background-secondary: #2f3136;
	--background-secondary-alt: #292b2f;
}

/* bottom left name is distracting */
.title_d1da5f {
	font-weight: 500;
}

/* icons in the send message textbox */
div[class^="buttons_"] button[aria-label="Send a gift"],
div[class^="buttons_"] button[aria-label="Open GIF picker"]  {display: none;}

/* they made the buttons in the send message textbox bright for some reason... */
div[class^="channelBottomBarArea"] button {
	opacity: .3;
}

div[class^="channelBottomBarArea"] button:hover {
	opacity: 1.0;
}

/* hide the Nitro link in the friends list */
a[href="/store"] {
	display: none;
}
a[href="/shop"] {
	display: none;
}

/* hide snowsgiving */
a[href="//discord.com/snowsgiving"] {
	display: none;
}

/* hide server discovery */
div[aria-label="Explore Discoverable Servers"] {
	display: none;
}

/* server add icon color */
div[data-list-item-id="guildsnav___create-join-button"] {
	background: transparent;
	color: #535559;
	border: 1px dashed #535559;
	border-radius: 50%;
	transition: border-color .25s ease,color .25s ease;
}

div[aria-label="Buy Boosts to help unlock the Communities plan!"] {
	display: none;
}

div[aria-label^="Buy Boosts to help unlock the Groups plan!"] {
	display: none;
}


/** restore line separators between messages */
ol[data-list-id="chat-messages"] .groupStart_d5deea {
	border-top: 1px solid rgba(255,255,255,0.06);
}

ol[data-list-id="chat-messages"] .groupStart_d5deea:before {
	display: block;
	content: "";
	
	padding: 0 !important;
	margin: 0 !important;
	/* padding above the line separator */
	margin-top: 14px !important;
	/* padding under the line separator */
	margin-bottom: 18px !important;
	/* for unread indicators, etc */
	position: relative;
	background: none;
	width: auto;
}

/* discord CSS antipattern `messageListItem` containers prevent selecting
and removing double borders without JS or CSS4's :has */
/** .divider-2rZFJK + li:has(> .groupStart_d5deea) {
	border-top: none;
} */
/** end line separators */

/** mentions apply only to the message content, not its container */
.mentioned_fa6fd2 {
	background: none;
}

.mentioned_fa6fd2 > *:first-child {
	background-color: var(--background-mentioned);
}
/** end mentions */

/* restore the old unread message in-line indicator */
.isUnread_c2654d {
	margin: 20px 15px !important;
}

.isUnread_c2654d svg {
	display: none;
}

.isUnread_c2654d:after {
	color: #f04747;
	font-weight: 600;
	text-transform: uppercase;
	content: "New Messages";
	background: var(--background-primary);
	padding: 0 8px;
	line-height: 22px;
	font-size: 0.93em;
}

.isUnread_c2654d > span {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	background-color: transparent;
	color: transparent;
}

.isUnread_c2654d > .unreadPill_c2654d:after {
	border-bottom: 1px solid rgba(240,71,71,.7);
}
/** end unread */

/* change mention colors back to how they were */
.mention {
	color: #7289da;
	background: rgba(114,137,218,.1);
}

.theme-dark .interactive:hover {
	color: #fff;
	background-color: #7289da;
}
/** end mentions */


/* floating message popup */
div[aria-label="Message Actions"] div[class^="reactionSuggestion_"] {
	display: none;
}

div[aria-label="Message Actions"] div[class^="reactionSuggestion_"] + div[class^="separator_"] {
	display: none;
}

div[aria-label="Message Actions"] > div {
	margin-top: 25px;
	border: none !important;
	background: transparent !important;
	box-shadow: none !important;
}

/** subdue message popup colors */
div[aria-label="Message Actions"] div[role="button"] {
	color: #4a4d53;
}

/** add hover color to message action buttons */
div[aria-label="Message Actions"] div[role="button"]:hover,
div[aria-label="Message Actions"] div[role="button"][class^="selected-"] {
	color: var(--interactive-hover) !important;
	background: none;
}

/** remove create thread and reply buttons */
div[aria-label="Message Actions"] div[aria-label="Create Thread"] {
	display: none;
}

/** rotate "more" button */
div[aria-label="Message Actions"] div[aria-label="More"] {
	transform: rotate(90deg);
}

/* make notification icons square */
.numberBadge_df8943 {
	border-radius: 4px;
	width: 18px !important;
	height: 18px !important;
}
